* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: #fff;
  --primary: rgb(225, 155, 4);
  --background-color: #000000;
  --gray: #808080;
  --border-color: #a0522d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #000;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
  transition: color 0.4s;
}

.navbar .navbar-nav a {
  font-size: 1.2rem;
  margin: 0 1rem;
  color: #fff;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-tambahan a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-tambahan a:hover {
  color: var(--primary);
}

.search-box {
  position: absolute;
  top: 110%;
  right: 0;
  left: 0;
  background-color: #f5f5f5;
  box-shadow: 4px 4px 20px rgba(126, 126, 126, 0.1);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.5s;
}

.search-box.active {
  clip-path: circle(144% at 100% 0%);
}

.search-box input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #000;
}

section {
  padding: 4rem 0 2rem;
}

.spare-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  background: url("../foto/backgroundjual.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 2rem;
}

.spare-part .header {
  text-align: center;
  color: white;
}

.spare-part .header .highlight {
  color: var(--primary);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  animation: fadeIn 2s ease-in-out;
  margin-top: 70px;
  font-size: 30px;
}

.spare-part .header p {
  font-size: 0.9rem;
  font-weight: 300;
}

.spare-part .contentsuv-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.spare-part .contentsuv {
  width: 250px;
  height: 350px;
  background: #07182e; /* Background color */
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  transition: 0.4s;
}

.spare-part .contentsuv:hover {
  transform: translateY(-5px);
}

.spare-part .contentsuv img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

.spare-part .contentsuv h3 {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #fff;
  margin-bottom: 0.5rem;
}

.spare-part .contentsuv .bagi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.spare-part .contentsuv .bagi .button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.spare-part .contentsuv .bagi .button:hover {
  background-color: darkred;
  transform: scale(1.1);
}

.spare-part .contentsuv .bagi .details {
  color: var(--primary);
  background-color: transparent;
  padding: 0;
  font-size: 0.9rem;
  transition: 0.3s;
}

.spare-part .contentsuv .bagi .details:hover {
  color: darkgoldenrod;
  transform: scale(1.1);
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contentsuv::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.8),
    rgba(0, 255, 0, 0.8),
    rgba(0, 0, 255, 0.8),
    rgba(255, 0, 0, 0.8)
  );
  background-size: 400% 100%;
  animation: animate 5s linear infinite;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
