* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.header {
    margin: 0;
    background-color: orange;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu1 {
    background-color: darkgray;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.menu-kiri {
    display: flex;
    align-items: center;
}

.menu-kanan {
    display: flex;
    align-items: center;
}

.menu1, .menu2 {
    color: #666;
    padding: 14px 16px;
    margin-right: 10px;
    background-color: transparent;
}

.menu1:hover, .menu2:hover {
    background-color: transparent;
    color: #333;
}

.main-menu2 {
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #f1f1f1;
}
.menu-bar{
    background-color: #f3f3f3;
    padding: 20px;
    display: flex;
}

.bar-kotakkiri {
    width: 75%;
    padding-right: 20px;
}
.kotak-putihkiri {
    background-color: white;
    padding: 20px;
    margin-top: 20px; 
}
.kotak-putihkanan {
    background-color: white;
    padding: 20px;
    margin-top: 20px; 
    height: 485px;
}
.bar-kotakkanan {
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.bawah {
    background-color: orange;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
