body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: orange;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;
    font-size: 48px;
}

.main-menu {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.menu1, .menu2 {
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px; 
}

.content {
    background-color: #f3f3f3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.kiri {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff; 
    padding: 20px; 
}

.kiri h2 {
    font-size: 48px;
    color: orange;
    margin-bottom: 10px;
}

.kiri ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.kiri li {
    margin-bottom: 10px;
}

.kiri a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
}

.kiri a:hover {
    text-decoration: underline;
}

.kiri p {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.kiri img {
    width: 100%;
    height: auto;
}

.kanan {
    width: 30%;
    background-color: #fff;
    padding: 20px;
}

.kanan h2 {
    font-size: 48px;
    color: orange;
    margin-bottom: 10px;
}

.kanan p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}

.footer {
    background-color: orange;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}
